*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

a {
  display: block;
}

.container {
  @include push--auto;
  max-width: 1140px;
  padding: 0 15px;
}