@use "sass:math";

*, ::before, ::after {
  @include reset;
}

ul {
  @include list-reset;
}

a {
  display: block;
  text-decoration: none;
}

html {
	height: 100%;

	font-size: 16px;

  font-family: $ff-regular;

	@include below($desktop) {
	font-size: 16 / 1680 * 100vw;
	}

	@include below($tablet) {
		font-size: 16 / 768 * 100vw;
	}

	@include below($mobile) {
		font-size: 16 / 320 * 100vw;
	}
}

.container {
  @include push--auto;
	position: relative;
  max-width: rem(1140);
  padding: 0 rem(15);
}