*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

html {
  font-size: ($fz-main / 16px) * 100%;
  font-family: $ff-regular;
}

.container {
  @include push--auto;
  max-width: 1140px;
  padding: 0 15px;
}