@use "sass:math";

$fz-main: 16px;
$fz-secondary: 24px;
$fz-title: 46px;
$fz-connect: 33px;
$fz-subtitle: 28px;
$fz-big: 50px;
$fz-sbig: 20px;
$fz-medium: 18px;
$fz-small: 14px;

$ff-bold: "Gilroy Bold";
$ff-ebold: "Gilroy ExtraBold";
$ff-sbold: "Gilroy SemiBold";
$ff-medium: "Gilroy Medium";
$ff-regular: "Gilroy Regular";

$color-main: rgb(104, 94, 214);
$color-main-light: rgb(241, 228, 255);
$color-shadow: rgba(0, 0, 0, 0.07);
$color-white: rgb(255, 255, 255);
$color-white-bg:rgba(242, 247, 255, 0.5);
$color-white-light: rgb(244, 245, 247);
$color-white-link: rgb(238, 239, 244);
$color-white-descr: rgb(217, 219, 225);
$color-violet-light: rgba(104, 94, 214, 0.5);
$color-blue-light: rgba(104, 94, 214, 0.05);
$color-grey: rgb(196, 196, 196);
$color-black: rgb(24, 25, 31);
$color-footer-top: rgb(29, 37, 48);
$color-footer-bottom: rgb(20, 27, 35);

$btn-hover: rgb(195, 155, 251);
$btn-hover-alt: rgb(51, 175, 225);

$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;
