$fz-main: 16px;
$fz-secondary: 24px;
$fz-title: 46px;
$fz-big: 50px;
$fz-semi-big: 20px;
$fz-small: 14px;

$ff-bold: "Gilroy Bold";
$ff-ebold: "Gilroy ExtraBold";
$ff-sbold: "Gilroy SemiBold";
$ff-medium: "Gilroy Medium";
$ff-regular: "Gilroy Regular";

$color-main: rgb(104, 94, 214);
$color-main-light: rgb(241, 228, 255);
$color-shadow: rgba(0, 0, 0, 0.07);
$color-white: rgb(255, 255, 255);



@function rem($size) {
  @return $size / $fz-main * 1rem;
}