.about {
  padding: rem(73) 0 rem(82) 0;
  background: $color-white-bg;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  &__content {
    padding-top: rem(27);

  }
  &__title {
    font-family: $ff-bold;
    font-size: rem($fz-connect);
    margin-bottom: rem(68);
  }
  &__list-item {
    @include dflex;
    margin-bottom: rem(48);
    padding-left: rem(15);
  }
  &__icon {
    margin-right: rem(26);
  }
  &__subtitle {
    font-family: $ff-sbold;
    font-size: rem($fz-secondary);
    margin-bottom: rem(8);
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .about {
    &__wrapper {
      grid-template-columns: 1fr rem(300);
    }
    &__img {
      height: auto;
    }
    &__content {
      padding-top: 0;
    }
    &__title {
      margin: 0 0 rem(40) 0;
    }
    &__list-item {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 412px) {
  .about {
      padding-top: 0;
  }
}

@media (max-width: 450px) {
  .about {
    &__wrapper {
      @include dflex-center;
    }
    &__img {
      width: rem(400);
      height: auto;
    }
  }
}
@media (max-width: 375px) {
  .about {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &__list-item {
      align-items: center;
    }
    &__content {
      margin-right: 0;
    }
    &__img {
      width: rem(244);
    }
    &__title {
      font-size: rem(32);
      margin-bottom: rem(30);
    }
    &__icon {
      width: rem(42);
      height: rem(42);
    }
    &__subtitle {
      font-size: rem(20);
    }
    &__text {
       margin-top: 0;
    }
  }
}
@media (max-width: 350px) {
  .about {
    &__title{
      margin-left: rem(20);
    }
  }
}