.about {
  padding: rem(73) 0 rem(82) 0;
  background: $color-white-bg;
  &__wrapper {
    @include dflex;
    flex-wrap: wrap;
  }
  &__content {
    padding-top: rem(27);
    margin-right: rem(76);
  }
  &__title {
    font-family: $ff-bold;
    font-size: rem($fz-connect);
    margin-bottom: rem(68);
  }
  &__list-item {
    @include dflex;
    margin-bottom: rem(48);
    padding-left: rem(15);
  }
  &__icon {
    margin-right: rem(26);
  }
  &__subtitle {
    font-family: $ff-sbold;
    font-size: rem($fz-secondary);
    margin-bottom: rem(8);
  }
}

@media (max-width: 450px) {
  .about {
    &__wrapper {
      @include dflex-center;
    }
    &__img {
      width: rem(400);
      height: auto;
    }
  }
}
@media (max-width: 375px) {
  .about {
    &__list-item {
      align-items: center;
    }
    &__content {
      margin-right: 0;
    }
    &__img {
      width: rem(244);
    }
  }
}
@media (max-width: 350px) {
  .about {
    &__title{
      margin-left: rem(20);
    }
  }
}