.btn {
  @include button-reset;
  font-family: $ff-bold;
  padding: rem(10) rem(20);
  background: $color-main;
  box-shadow: 0 rem(10) rem(20) $color-shadow;
  border-radius: rem(6);
  color: $color-white;
  border: none;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  &:hover {
    background: $btn-hover-alt;
    color: $color-white;
  }
  &:active {
    background: $btn-active-alt;
  }
  &--active {
    background: $color-main-light;
    color: $color-main;
    &:hover {
      background: $btn-hover;
      color: $color-main;
    }
    &:active {
      background: $btn-active;
      color: $color-white;
    }
  }
  &--hidden {
    display: none;
  }
  &--centered {
    @include push--auto;
    display: block;
  }
}
