.connect {
  padding: rem(90) 0;
  &__wrapper {
    @include dflex;
    background: url("../assets/img/connect-bg.jpg") center center/cover no-repeat;
    padding: rem(48) rem(30) rem(90) rem(320);
    position: relative;
  }
  &__content {
    max-width: rem(445);
  }
  &__title {
    font-family: $ff-ebold;
    font-size: rem($fz-secondary);
    color: $color-white;
    line-height: rem(33);
    margin-bottom: rem(34);
  }
  &__img {
    width: rem(320);
    height: rem(260);
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__form {
    @include dflex;
  }
  &__input {
    padding: rem(14) rem(16);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
  }
  &__btn {
    padding: rem(14) rem(24);
    background: $color-black;
    &:hover {
      background-color: $btn-hover-alt;
      color: $color-white;
    }
  }
}
@media (max-width: 500px) {
  .connect {
    &__wrapper {
      justify-content: center;
      padding: rem(300) rem(18) rem(40) rem(30);
      overflow: hidden;
    }
    &__img {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
      width: rem(350);
      height: rem(280);
    }
  }
}