.footer {
  &__top {
    padding: rem(104) 0 rem(78);
    background-color: $color-footer-top;
  }
  &__top-wrapper {
    @include dflex;
    justify-content: flex-end;
    position: relative;
    flex-wrap: wrap;
  }
  &__nav {
    @include dflex-sb;
    padding-right: rem(190);
    text-align: left;
  }
  &__bottom {
    padding: rem(25) 0;
    background-color: $color-footer-bottom;
  }
  &__logo {
    @include dflex-center-start-column;
    position: absolute;
    top: 0;
    left: rem(10);
  }
  &__img {
    width: rem(80);
    height: rem(69);
  }
  &__logo-name {
    font-family: $ff-bold;
    font-size: rem($fz-connect);
    color: $color-white;
  }
  &__column {
    margin-left: rem(126);
    text-align: left;
  }
  &__column-name {
    font-family: $ff-medium;
    font-size: rem($fz-sbig);
    color: $color-white-light;
    line-height: rem(30);
    margin-bottom: rem(32);
  }
  &__item {
    margin-bottom: rem(12);
  }
  &__link {
    line-height: rem(26);
    color: $color-white-link;
    transition: all .3s;
    &:hover {
      color: $color-main;
    }
  }
  &__descr {
    color: $color-white-descr;
  }
}

@media (max-width: 850px) {
  .footer {
    &__nav {
      padding-right: 0;
      text-align: left;
    }
  }
}
@media (max-width: 375px) {
  .footer {
    &__top-wrapper {
      justify-content: center;

    }
    &__nav {
      flex-direction: column;
    }
    &__img {
      width: rem(70);
      height: auto;
    }
    &__logo-name {
      font-size: rem(32);
    }
    &__column-name {
      margin-top: 0;
      margin-bottom: rem(16);
    }
    &__descr {
      padding-left: rem(20);
    }
  }
}