.header {
  height: 100vh;
  background: url("../assets/img/main-bg.jpg") center center/cover no-repeat;
  padding-top: rem(32px);
  &__top {
    @include dflex-sb-center;
    margin-bottom: rem(123px);
  }
  &__logo {
    @include dflex-center;
    font-family: $ff-bold;
    font-size: rem(28px);
  }
  &__btns {
    @include dflex-sb-center;
  }
  &__btn + &__btn {
    margin-left: rem(12px);
  }
  &__title {
    font-family: $ff-ebold;
    font-size: rem($fz-big);
  }
  &__descr {
    max-width: rem(482px);
    font-size: $fz-secondary;
    margin-bottom: rem(32px);
  }
  &__link {
    max-width: 168px;
  }
  &--violet {
    color: $color-main;
  }
}