.reviews {
  @include dots;
  padding: rem(17) 0 rem(80) 0;
  text-align: center;
  background-color: $color-white-bg;

  &__title {
    font-family: $ff-ebold;
    font-size: $fz-title;
    line-height: rem(64);
    margin-bottom: rem(48);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(30);
  }
  &__ico {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(142);
    height: rem(120);
  }
  &__text-wrapper {
    background-color: $color-white;
    box-shadow: 0 rem(10) rem(20) $color-shadow;
    padding: rem(32);
    min-height: rem(220);
    margin-bottom: rem(28);
    position: relative;
    &::before {
      @include pseudo;
      bottom: rem(-14);
      left: 50%;
      width: rem(24);
      height: rem(14);
      border-left: rem(10) solid transparent;
      border-right: rem(10) solid transparent;
      border-top: rem(14) solid $color-white;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    font-family: $ff-medium;
    font-size: $fz-medium;
    margin-bottom: rem(8);
    line-height: rem(28);
  }
  &__text {
    font-size: $fz-small;
    line-height: rem(24);
  }
  &__info {
    @include dflex-center;
    text-align: left;
  }
  &__img {
    margin-right: rem(16);
  }
  &__name {
    font-family: $ff-bold;
    font-size: $fz-medium;
    line-height: rem(28);
  }
  &__site {
    font-size: $fz-small;
  }
  &__slider {
    position: relative;
  }
  &__slider-wrapper {
    @include push--auto;
    overflow: hidden;
    padding-bottom: rem(30);
  }
  &__slider-inner {
    display: flex;
    transition: all 0.3s;
  }
}
@media (max-width: rem(500)) {
  .reviews {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}