.tariffs {
  @include dots;
  padding-top: rem(100);
  text-align: center;
  &__title {
    font-family: $ff-ebold;
    font-size: rem($fz-title);
    margin-bottom: rem(16);
  }
  &__subtitle {
    font-family: $ff-bold;
    font-size: rem($fz-secondary);
    margin-bottom: rem(40);
  }
  &__slider {
    position: relative;
    padding-bottom: rem(20);
  }
  &__slide {
    height: rem(420);
    position: relative;
    margin: 0 10px;
    box-shadow: 0 rem(10) rem(20) $color-shadow;
  }
  &__item-content {
    padding: rem(40) rem(25) 0 rem(25);
  }
  &__item-name {
    font-family: $ff-ebold;
    padding: rem(7) 0;
    text-align: center;
    line-height: rem(48);
    color: $color-main;
    font-size: rem($fz-secondary);
    background: $color-blue-light;
  }

  &__item-title {
    font-family: $ff-bold;
    font-size: rem($fz-subtitle);
    line-height: rem(40);
    margin-bottom: rem(32);
  }
  &__item-price {
    font-family: $ff-medium;
    font-size: rem($fz-sbig);
    margin-bottom: rem(80);
  }
  &__item-btn {
    position: absolute;
    left: 50%;
    bottom: rem(40);
    transform: translateX(-50%);
    width: rem(270);
  }
}

@media (max-width: 520px) {
  .tariffs {
    &__item-btn {
      width: rem(200);
    }
  }
}
@media (max-width: 375px) {
  .tariffs {
    &__item-btn {
      width: rem(270);
    }
  }
}
